<template>
    <main>
        <article>
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            {{place.name}}
                            <a class="button is-dark" @click="goBack">Back</a>
                        </h1>
                        <h2 class="subtitle">
                            {{place.address}}
                        </h2>
                        <h2 class="subtitle">
                            Ratings: {{place.ratings}}
                        </h2>
                    </div>
                </div>
            </section>
            <section>

                <div class="container">

                    <div class="columns">
                        <div class="column is-three-quarters">
                            <h1 class="title">
                                Reviews
                            </h1>
                            <article class="media" v-for="(r,i) in place.reviews" v-bind:key="i">
                                <figure class="media-left">
                                    <img :src="r.profile_photo_url">
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                          By:  {{r.author_name}}
                                        <br/>
                                        <strong>Rating</strong>: {{r.rating}}
                                        </p>
                                        <p>
                                            {{r.text}}
                                        </p>

                                    </div>
                                </div>

                            </article>


                        </div>
                        <div class="column is-one-quarter">
                            <h1 class="title">Photo Gallery</h1>
                            <figure class="photo" v-for="image in place.image">
                                <img :src="image">
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</template>



<script>
import {PlaceFacade} from "../facade/Places"
export default {
    name: "Details",
    data: function() {
        return {
            place: null
        }
    },
    beforeRouteEnter(to, from, next) {
        console.log("before route enter");
        PlaceFacade.loadPlaceDetails(to.params.id).then( (place)=>{
            console.log("loaded");
            next(vm => {
                vm.setPlace(place);
            })
        })
    },
    beforeRouteUpdate(to, from, next) {
        console.log("BeforeRouteUpdate");
        this.place = null;
        PlaceFacade.loadPlaceDetails(to.params.id).then( (place)=>{
            this.setPlace(place);
            next();
        })
    },
    methods: {
        setPlace(place) {
            this.place = place;
        },
        goBack() {
            this.$router.push({name:'home'});
        }
    }
}
</script>

<style scoped>
.photo {
    width: 120px;
    height: 120px;
    margin:10px;
}
</style>