<template>
  <main class="section">
    <section class="container">
      <header>
        <h1 class='title'>Trip Guru</h1>
      </header>
      <section id="search">
        <Autocomplete :datasource="getDataSource" v-on:onSelected="selectCity" hint="Enter a city to explore"></Autocomplete>
        <SelectCategory
                :enabled="selectedCity != null"
                v-on:onSelectCategory="updateCategory"
        >
        </SelectCategory>
      </section>
      <section id="results" style="margin-top:10px">
        <PlaceListing :categories="selectedCategory"
                      :city="selectedCity"
                      :datasource="getPlacesDataSource"
                      v-on:onGotoPlace="gotoPlace"

        >
        </PlaceListing>
      </section>
    </section>
  </main>
</template>

<script>
// @ is an alias to /src
import {PlaceFacade}  from "../facade/Places";
import Autocomplete from "../components/Autocomplete";
import PlaceListing from "../components/PlaceListing";
import SelectCategory from "../components/SelectCategory"
import config from "../config"
export default {
  name: 'home',
    components: {
        Autocomplete, PlaceListing, SelectCategory
    },
    data() {
        return {
            placeFacade: PlaceFacade,
            selectedCity : null,
            selectedCategory:null
        }
    },
    methods: {
        getDataSource(search_terms) {
            return this.placeFacade.loadPossibleCities(search_terms);
        },
        getPlacesDataSource(selectedCity, selectedCategory) {
            return this.placeFacade.loadPlaces({
                city: selectedCity.name,
                categories: selectedCategory
            });
        },
        selectCity(city) {
            this.selectedCity = city;
        },
        updateCategory(category) {
            this.selectedCategory = config.categoryToGooglePlaceMapping[category];
        },
        gotoPlace(place)  {
            this.$router.push({ name: 'details', params: { id: place.id } })
        }
    },
    mounted() {

    }
}
</script>
