<template>
    <div class="field">
        <div class="autocomplete">
            <input type="text" v-model="search_terms" @input="onChange" class="input" :placeholder="hint"/>
            <ul class="results" v-show="isOpen">
                <li class="each-result" v-for="r in results" v-bind:key="r.id" @click="selectItem(r)">
                    {{r.name}}
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    export default {
        name: "autocomplete",
        props: ['datasource', 'hint'],
        data: function() {
            return {
                search_terms:"",
                results: [],
                isOpen:false,
                selectedItem:null
            }
        },
        methods: {
            onChange:function() {
                this.isOpen = true;
                console.log(this.search_terms);
                this.datasource(this.search_terms).then((results)=>{
                    this.results = results;
                });
            },
            selectItem:function(item) {
                this.isOpen = false;
                this.selectedItem = item;
                this.search_terms = item.name;
                this.$emit("onSelected", item);
            }
        },
        watch: {
            search_terms:function(newVal){
                if (newVal === "") {
                    this.isOpen = false;
                }
            }
        }
    }
</script>

<style scoped>
.autocomplete {
    position: relative;
    width: 100%;
    display:inline-block;
}

.input {
    width: 100%;
}

.results {
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    height: 120px;
    overflow:auto;
    z-index: 1;
    background-color:white;
    position:absolute;

    top:100%;
    left: 0;
    right:0;
}

.each-result {
    list-style:none;
    text-align:left;
    padding: 4px 2px;
    cursor: pointer;
}

.each-result:hover {
    background-color: #4AAE9B;
    color: white;
}

</style>