<template>
    <section>
        <div>
            <article class="media" v-for="p in places" v-bind:key="p.id" @click="gotoPlace(p)">
                <figure class="media-left">
                    <img :src="p.image">
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            {{p.name}}
                            <br/>
                            <strong>Address</strong>: {{p.address}}
                        </p>
                    </div>
                </div>

            </article>
        </div>
    </section>
</template>

<script>
    export default {
        name: "place-listing",
        data:function() {
            return {
                places:[]
            }
        },
        props: ['datasource', 'city', 'categories'],
        methods: {
            gotoPlace:function(place)
            {
                this.$emit('onGotoPlace', place);
            }
        },
        watch: {
            city:function() {
                if (this.categories !== null && this.categories !== '') {
                    this.datasource(this.city, this.categories).then((results)=>{
                        this.places = results;
                    })
                } else {
                    this.places=[];
                }
            },
            categories:function() {
                if (this.city !== null && this.city !== '') {
                    this.datasource(this.city, this.categories).then((results)=>{
                        this.places = results;
                    })
                } else {
                    this.places=[];
                }
            }
        }
    }
</script>

<style scoped>
figure {
    width: 120px;
    height: 120px;
}
</style>