<template>
    <div class="field" id="select-field">
        <label class="label">What do you want to do?</label>
        <div class="select">
            <select v-model="selectedCategory" :disabled="!enabled" v-on:change="onSelectCategory">
                <option v-for="(c,i) in possibleCategories" :key="i" v-bind:value="i">
                    {{c}}
                </option>
            </select>
        </div>
    </div>

</template>

<script>
    import config from "../config";
    export default {
        name: "SelectCategory",
        props:['enabled'],
        data:function(){
            return {
                selectedCategory:null,
                possibleCategories:config.possibleCategories
            }
        },
        methods: {
            onSelectCategory:function() {
                this.$emit('onSelectCategory', this.selectedCategory);
            }
        }
    }
</script>

<style scoped>
#select-field {
    width:100%;
    display:inline-block;
}

select, .select {
    width:100%;
}
</style>