<template>
  <div id="app">
    <!--<div id="nav">-->
      <!--<router-link to="/">Home</router-link> |-->
      <!--<router-link to="/about">About</router-link>-->
    <!--</div>-->
    <keep-alive>
      <router-view :key="$route.path"/>
    </keep-alive>

  </div>
</template>

<style lang="scss">

</style>
